{% extends 'base.html' %}

{% block title %} Management System {% endblock title %}
{% block body %}
{% load static %}
<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-1 position-relative my-5"
    style="background-color:rgba(169, 169, 169, 0.353)">
    <div class="row my-4">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{% static 'studentmgmt.png' %}" class="card-img-top" alt="Thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Post 1 Title</h5>
                    <p class="card-text">Content for post 1</p>
                    <a href="/blog/post-1" class="btn btn-primary">Analyze</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{% static 'studentmgmt.png' %}" class="card-img-top" alt="Thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Post 2 Title</h5>
                    <p class="card-text">Content for post 2</p>
                    <a href="/blog/post-2" class="btn btn-primary">Analyze</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{% static 'studentmgmt.png' %}" class="card-img-top" alt="Thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Post 3 Title</h5>
                    <p class="card-text">Content for post 3</p>
                    <a href="/blog/post-3" class="btn btn-primary">Analyze</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}