{% extends 'base.html' %}

{% block title %} Vyomika {% endblock title %}
{% block body %}


{% block search %}
<div class="col-md-12 my-2 d-flex justify-content-end">
    <form action="searchstf/" method="get" class="form" style="position: initial;">
        <input class="mr-sm-3" type="search" placeholder="Search" name='query' id="query" aria-label="Search"
            style="border-radius: 5px; height: 2.1em;">
        <button class="btn btn-outline-none my-2 my-sm-0" id="search_button_base" type="submit"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg></button>
    </form>
</div>
{% endblock %}

<a href="addStaff/"><button type="button" class="btn btn-outline-dark m-3">Add Staff</button></a>

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Role</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        {% for stf in staff %}
        <tr>
            <td>
                <div class="d-flex align-items-center">
                    <img src="/media/{{stf.stfimage}}" alt="" style="width: 120px; height: 120px"
                        class="rounded-circle" />
                    <div class="ms-3">
                        <p class="fw-bold mb-1">{{stf.stfname}}</p>
                        <p class="text-muted mb-0">{{stf.stfemail}}</p>
                    </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1">{{stf.stfadd}}</p>
            </td>
            <td>{{stf.stfphone}}</td>
            <td>{{stf.stfrole}}</td>
            <td>{{stf.stfgender}}</td>
            <td>
                <form action="{% url 'delete_staff' stf.stf_id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}