{% extends 'base.html' %}

{% block title %} Vyomika {% endblock title %}
{% block body %}
<div class="container">
    <div class="container my-3">
        <h3>Post your datas to visualize</h3>
        <form action="#" method="post">{% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="name" required>
            </div>

            <div class="form-group">
                <label for="xlabels">Enter the xlabels</label>
                <input type="text" class="form-control" id="xlabel" name="names" placeholder="Separated by comma"
                    required>
            </div>

            <div class="form-group">
                <label for="ylabels">Enter the ylabels </label>
                <input type="text" class="form-control" id="ylabel" name="data" placeholder="Separated by Comma"
                    required>
            </div>

            <button type="submit" class="btn btn-primary m-2">Submit</button>

        </form>

        {% comment %} {% if data %}
        <a href="{% url 'displayGraph' data.snum %}" class="btn btn-primary m-2">Visualize</a>
        {% endif %} {% endcomment %}

    </div>

    <div class="col-md-12 d-flex justify-content-center">
        <h1>Want to upload file and Visualize
        </h1>
    </div>

    <form action="/visualize/visualizefile/" enctype="multipart/form-data" method="post">
        {% csrf_token %}

        <div class="m-3">
            <label class="form-check-label" for="fileupload">Choose File</label>
            <input type="file" name="fileupload"
                accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
        </div>

        <div class="form-group">
            <label for="xlabels">Enter the plottype</label>
            <input type="text" class="form-control" id="plottype" name="plottype" required>
        </div>

        <div class="form-group">
            <label for="xlabels">Enter the xlabels</label>
            <input type="text" class="form-control" id="xlabelfile" name="xlabelfile" required>
        </div>

        <div class="form-group">
            <label for="ylabels">Enter the ylabels </label>
            <input type="text" class="form-control" id="ylabelfile" name="ylabelfile" required>
        </div>

        <button type="submit" class="btn btn-primary m-2">Submit</button>
    </form>


</div>
{% endblock %}